<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<div class="container">

  <div class="centered">
    <h2><%= @deck.title %></h2>
    <%= link_to 'add new cards', new_deck_card_path(@deck), class: "small" %>
  </div>

  <div id="study-container" class="pure-g">
    <div id="study-console" class="pure-u-1 pure-u-sm-3-5 centered">
      <div id="card-q">
      </div>

      <div id="card-a" style="display:none">
      </div>
    </div>

    <div id="control-console" class="pure-u-1 pure-u-sm-3-5 centered">
      <div id="control-q">
        <button id="show-answer-button" class="pure-button pure-button-primary">
          Show Answer
        </button>
      </div>

      <div id="control-a" style="display:none">
        <button id="missed-card-button" class="red-button pure-button">
          Missed
        </button>
        <button id="retry-card-button" class="pure-button retry-card-button">
          Retry
        </button>
        <button id="good-card-button" class="pure-button good-card-button">
          Good
        </button>
        <button id="easy-card-button" class="pure-button easy-card-button">
          Easy
        </button>
      </div>

      <div id="card-control-console" style="display:none">
        <span id="edit-card-link"><a href="#">edit this card</a></span> |
        <span id="delete-card-link"><a href="#">delete this card</a></span>
      </div>

      <div id="card-message" class="small">
      </div>
    </div>
  </div>
</div>

<%= form_tag '#' %>
  <%= hidden_field_tag 'card-id', @deck.get_next_card.id, id: 'card-id' %>
  <%= hidden_field_tag 'deck-id', @deck.id, id: 'deck-id' %>

<script src="/js/study.js"></script>
